{% extends 'app/base.html' %}
{% block title %}マイページ{% endblock %}
{% block content %}
<div class="MyPageManagement">
    <div class="title_box">
        <h1>マイページ</h1>
        <p>様々な機能があります。</p>
    </div>
    <ul>
        <li>
            <a href="{% url 'history' %}">
                <h2>注文履歴</h2>
                <p>注文履歴・配達状況の確認・返品手続き</p>
            </a>
        </li>

        <li>
            <a href="{% url 'profile' %}">
                <h2>ログインとセキュリティ</h2>
                <p>アカウント情報の変更</p>
            </a>
        </li>
        <li>
            <a href="{% url 'password_change' %}">
                <h2>パスワード変更</h2>
                <p>登録情報の変更・追加</p>
            </a>
        </li>
        <li>
            <a href="{% url 'favorite_menu' %}">
                <h2>お気に入りリスト</h2>
                <p>お気に入り登録したリストが表示されます。</p>
            </a>
        </li>
        <li>
            <a href="{% url 'Inquiry' %}">
                <h2>お問い合わせ</h2>
                <p>お問い合わせ内容を送信</p>
            </a>
        <li>
            <a href="{% url 'fashion_my_list' %}">
                <h2>ファッション編集</h2>
                <p>既にカスタマイズしたファッションを編集</p>
            </a>
        </li>
        <li>
            <a href="{% url 'review_menu' %}">
                <h2>レビュー編集</h2>
                <p>過去のレビューを編集</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}