{% extends "app/base.html" %}

{% block title %}パスワード変更{% endblock %}

{% block headertitle %}パスワード変更{% endblock %}

{% block content %}
<div class="card card-auth my-5 mx-auto">
  <div class="card-body">
      <h5 class="card-title text-center">ログイン</h5>
          <form method="POST">
              {% csrf_token %}
              {% comment %} {{ form.non_field_errors }} {% endcomment %}
              {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                  {% endfor %}
              </div>
              {% endif %}
              {% for field in form %}
              <div class="form-label-group">
                  <label class="col-6" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                  {{ field }}
                  {% if field.errors %}
                  <div class="alert alert-danger" role="alert">
                      {% for error in field.errors %}
                      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                      {% endfor %}
                  </div>
                  {% endif %}
                  {% comment %} {{ field.errors }} {% endcomment %}
              </div>
              {% endfor %}

              <div class="form-label-group row">
                <div class="col-sm">
                  <button type="submit" class="btn btn-primary btn-block">送信</button>
                </div>
                <div class="col-sm">
                  <button type="submit" class="btn btn-primary btn-block" onClick="javascript:history.go(-1);">戻る</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}