{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content%}
<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">パスワードリセット</h5>
        
        <p class="text-muted">メールを受信してパスワードの変更手続きを行います。</p>
        <form method="POST" class="form-auth">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <p class="text-muted">メールアドレスはあらかじめシステムに登録が必要です。</p>
            <p class="text-muted">メールが届かない場合はシステム管理者に連絡してください。</p>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">送信</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% comment %} mail_template/reset/subject.txt {% endcomment %}

{% comment %} {% extends "accounts/base.html" %} {% endcomment %}
{% comment %} 
<div class="pw">
{% block content %}
<form method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}



    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}

    <pre>メールアドレスはあらかじめシステムに登録が必要です。
メールが届かない場合はシステム管理者に連絡してください。</pre>
    <br/>
    <div class="form-group row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">送信</button>
        </div>
    </div>
</form>
<div class="text-center py-2">
    <small>
      <a href="{% url 'password_change' %}" class="text-muted">戻る</a>
    </small>
  </div>
{% endblock %}
</div> {% endcomment %}